* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #555555;
}

div#wrapper {
}

div#header,
div#footer {
}

div#header {
	font-size: 24px;
	font-weight: 300;
	font-family: "";

	color: #FFFFFF;

	padding: 15px 15px;
	margin-bottom: 15px;
}

div#footer {
	color: #CCCCCC;

	padding: 15px 15px;
	margin-top: 15px;

	clear: both;
}

div#content {
	width: 100%;

	background-color: #CCCCCC;

	padding: 15px 0;
}

div#form_wrapper {
	display: table;
	
	margin: 0 auto;
	width: 680px;
}

div#row {
	display: table-row;
}

div#column_left,
div#column_right {
	display: table-cell;
}

div#column_left {
	width: 415px;
	padding-right: 15px;
}

div#column_right {
	width: 235px;

	padding-left: 15px;
}

div#form_wrapper p {
	padding-bottom: 10px;
}

div#form_wrapper h1 {
	font-size: 14px;
	font-weight: bold;

	color: #555555;

	padding-top: 10px;
	padding-bottom: 10px;
}

div#form_wrapper p label {
	font-size: 14px;
	font-weight: 300;

	color: #555555;
}

div#form_wrapper p input,
div#form_wrapper p button,
div#form_wrapper p textarea {
	padding: 10px 10px;

	border-width: 1px;
	border-style: solid;
	border-color: #555555;
	border-radius: 5px 5px 5px 5px;

	font-size: 14px;
	font-weight: bold;

	width: 100%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#form_wrapper p input,
div#form_wrapper p textarea {
	box-shadow: 0 2px 4px #555555 inset;
	
	background-color: #FFFFFF;
	color: #555555;
}

div#form_wrapper p textarea#description {
	height: 90px;
}

div#form_wrapper p input[type=checkbox] {
  width: auto;
}

div#form_wrapper p input#submit {
	box-shadow: 0 2px 4px #555555;

	background-color: #7AB51D;
	color: #FFFFFF;
}

div#form_wrapper p input#submit[disabled=disabled],
div#form_wrapper p input.disabled,
div#form_wrapper p textarea.disabled {
	background-color: #999999;
	color: #CCCCCC;
}

label.required:after {
	content: " *";
	
	font-size: 14px;
	font-weight: bold;
	
	color: #7AB51D;
}

div#progress {
	position: relative;

	padding: 0 0;
	
	width: 100%;
	
	background-color: #999999;
	color: #555555;

	border-width: 1px;
	border-style: solid;
	border-color: #555555;
	border-radius: 5px 5px 5px 5px;

	font-size: 14px;
	font-weight: bold;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: none;
}

div#progress_bar {
	width: 100%;
	height: 37px;
	
	background-color: #7AB51D;
	
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #555555;
	border-radius: 5px 5px 5px 5px;
}

div#progress_label {
	position: absolute;

	z-index: 1000;
	
	top: 0;
	width: 100%;

	padding: 10px 10px;
	
	text-align: center;
}

span.highlight,
a {
	text-decoration: none;
	color: #7AB51D;

	font-weight: bold;
}

#info_links {
	text-align: right;
	float: right;

	padding-bottom: 15px;
}
